//fonts
$light-font: "Larsseit-light";
$standard-font: "Larsseit";
$medium-font: "Larsseit-medium";


//margin-center
$mr-center: 0 auto;

//
$standard-transition: .25s all ease-in;

//colors
$white: #FFF;
$blue-light: #62D0DF;
$blue-standard: #0052C1;
$blue-dark: #22356F;
$blue-opacity-05: rgba(34, 53, 111, 0.5);
$yellow: #F9B640;
$yellow-light: #F4F9E2;
$pink: #FFE2DE;
$green: #C4E769;
$purple-light: #DEE1FF;;
$purple: #8F00FF;


